<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<a href="/home">Домой</a><br>
    <h1>All issues</h1>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Reader</th>
            <th>Issued at</th>
            <th>Returned at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="issue : ${issues}">
            <td th:text="${issue.getBookName()}"></td>
            <td th:text="${issue.getReaderName()}"></td>
            <td th:text="${issue.getIssuedAt()}"></td>
            <td th:text="${issue.getReturnedAt()}"></td>
            <td>
                <form th:method="PATCH" th:action="@{/ui/issues/{id}(id=${issue.getId()})}" >
                    <input type="submit" value="Закрыть выдачу">
                </form></td>
        </tr>
        </tbody>
    </table>
</body>
</html>