<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Readers</title>
</head>
<body>
    <a href="/home">Домой</a><br>
    <h3>Список читателей</h3>
    <ul>
        <li th:each="reader : ${readers}">
            <a th:href="@{/ui/readers/{id}(id=${reader.getId()})}"><span th:text="${reader.getId()} + ' ' + ${reader.getName()}"></span></a>
        </li>
    </ul>
</body>
</html>