<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader info</title>
</head>
<body>
    <a href="/home">Домой</a><br>
    <h1><span th:text="${reader.getId()} + ' '"></span><span th:text="${reader.getName()}"></span></h1><br>
    <h2>Книги на руках</h2>
    <ul>
        <li th:each="issue : ${openedIssues}"> <span th:text="${issue.getBookName()}"></span></li>
    </ul>

    <form th:method="DELETE" th:action="@{/ui/readers/{id}(id=${reader.getId()})}">
        <input type="submit" value="Удалить читателя">
    </form>
</body>
</html>